<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Services Page</h1>
    <hr />
    <!-- using fragment -->
     <!-- <div th:insert="~{base :: parent('service one','service two')}">
            passing parameters
     </div> -->

     <!-- <div th:replace="~{base :: parent(~{::section})}">
        pass through tag
        <section >
            <h1>This is Dynamic services passed to base parent</h1>
        </section>
     </div>  -->

     <!-- <div th:replace="~{base :: parent(~{::#second_content})}">
        pass through id
        <section id="main_content">
            <h1>This is Dynamic services passed to base parent</h1>
        </section>
        <section id="second_content">
            <h1>This is second content</h1>
        </section>
     </div> -->

     <div th:replace="~{base :: parent(~{::.third_content})}">
        pass through class
        <section class="third_content">
            <h1>This is Dynamic services passed to base parent through class name</h1>
        </section>
     </div>
</body>
</html>